.uno{
	border-style: solid;
	border-color: black;
	height: 100px;
	width: 120px;
	font-size: 10px;
	padding: 30px;
	border-width: 10px;
	border-color: yellow;
	text-align: center;
	
}

.dos{
	border-style: solid;
	border-color: black;
	height: 100px;
	width: 120px;
	font-size: 10px;
	padding: 30px;
	border-width: 10px;
	border-color: yellow;
	text-align: left;
	margin: auto;
}
